* {
  font-family: 'Open Sans';
  overflow-x: hidden;
}

body {
  background-color: rgb(243, 247, 250);
}

.top-logo {
  width: 60px;
  height: 60px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.main-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  display: flex;
  column-gap: 20px;
}

.filter-ticket {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media (max-width: 425px) {

  .info-container {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .filter-ticket {
    align-items: center;
  }
}
